# Excluir caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración sensibles
conexion.txt

# Excluir archivos de compilación de PyInstaller
build/
dist/
*.spec

# Excluir archivos temporales y de configuración de VSCode
.vscode/
*.log
